<title>Sondage</title>
    <h1>SONDAGE TROP BIEN</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><p>Question {{ question.id }}:</p><a href="/sondage/{{ question.id }}/">{{ question.question_text }}</a></li><br>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
